<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
    crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Zilla+Slab+Highlight:wght@700&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">

<section class="landing">
    <h2 class="big-text">Adopt NOW</h2>
    <h3 class="big-text2"> <a href="/adoption-centers" style="text-decoration: none"> Find a center near you</a> </h3>
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Meet & Greet Adoptable Pets </span>
            </h1>
            <h1 class="hide">
                <span class="text">When you adopt with us </span>
            </h1>
            <h1 class="hide">
                <span class="text">you're making a direct impact in your community</span>
            </h1>
        </div>
    </div>

    <div class="slider"></div>


</section>