<section class="hero is-medium is-link">
    <div class="hero-body">
        <p class="title ml-6">
            Want to adopt?
        </p>
        <p class="subtitle ml-6">
            Find your soul pet!</p>

    </div>

</section>

<div class="container is-max-desktop mt-1 mb-0">
    <div class="notification is-primary banner">
        <h1>Have a preference?</h1>
        <section class="example-section">
            <mat-checkbox class="example-margin" (click)="getByType('cat')">Cats</mat-checkbox>
            <mat-checkbox class="example-margin" (click)="getByType('dog')">Dogs</mat-checkbox>
            <mat-checkbox class=" example-margin" (click)="getByType('both')">Both</mat-checkbox>
        </section>

    </div>

</div>

<div class="container " *ngIf=!currentPet>
    <div class="cols col=12">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-6 mb-lg-0" *ngFor="let pet of pets">
                <div class="profile-card-4 text-center" (click)="selectPet(pet)">

                    <img src="{{pet.image}}" class="img img-responsive" />

                    <div class="profile-content">
                        <div class="card-body">
                            <h4 class=" card-title">This is {{pet.name}}</h4>
                            <p class="card-text">Age: {{pet.age}}</p>
                            <p class="card-text">Breed: {{pet.breed}}</p>
                            <p class="card-text">{{pet.adopted ? 'It was adopted' : 'Is waiting for you to adopt
                                it!'}}
                            </p>
                            <a type="button" (click)="selectPet(pet)">Update</a>
                        </div>
                        <button class="button is-danger is-outlined" (click)="deletePet(pet.id)">
                            <span>Delete</span>
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf=currentPet>
    <div class="cols col=8">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="profile-card-4 text-center">

                    <img src="{{currentPet.image}}" class="img img-responsive" />

                    <div class="profile-content">
                        <div class="card-body">
                            <h4 class=" card-title">This is {{currentPet.name}}</h4>
                            <p class="card-text">Age: {{currentPet.age}}</p>
                            <p class="card-text">Breed: {{currentPet.breed}}</p>
                            <p class="card-text">{{currentPet.adopted ? 'It was adopted' : 'Is waiting for you to adopt
                                it!'}}
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <form novalidate>
                    <div class="tile center">
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-success is-vertical">
                                <div class="content">
                                    <p class="title">Update pet with id {{currentPet.id}}</p>

                                    <input class="form-control" type="text" name="name"
                                        [(ngModel)]="currentPet.name"><br>
                                    <input class="form-control" type="text" name="type"
                                        [(ngModel)]="currentPet.type"><br>
                                    <input class="form-control" type="text" name="breed"
                                        [(ngModel)]="currentPet.breed"><br>
                                    <input class="form-control" type="text" name="age" [(ngModel)]="currentPet.age"><br>
                                    <input class="form-control" type="text" name="vaccinated"
                                        [(ngModel)]="currentPet.vaccinated"><br>
                                    <input class="form-control" type="text" name="adopted"
                                        [(ngModel)]="currentPet.adopted"><br>
                                    <input class="form-control" type="text" name="image"
                                        [(ngModel)]="currentPet.image"><br>

                                    <a type="submit" (click)=updatePet(currentPet)>
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <button class="button is-link">
                                                    Save changes
                                                </button>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>